.foodcards {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 30px;
  margin: 0 auto;
  padding-top: 50px;
}

.foodcard {
  padding: 8px;
  display: flex;
  width: 340px;
  height: 160px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 0.659px solid #98f9ff;
  background: url(<path-to-image>),
    lightgray 0% 0% / 50.8334219455719px 50.8334219455719px repeat,
    radial-gradient(
      151.92% 127.02% at 15.32% 21.04%,
      rgba(165, 239, 255, 0.2) 0%,
      rgba(110, 191, 244, 0.04) 77.08%,
      rgba(70, 144, 212, 0) 100%
    );
  background-blend-mode: overlay, normal;
  backdrop-filter: blur(13.184196472167969px);
}

.food-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}
.food-info h3 {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 500;
}
.food-info p {
  margin-top: 8px;
  font-size: 12px;
}

.food-btn {
  display: flex;
  justify-content: end;
}
.food-btn button {
  font-size: 14px;
  padding: 4px 6px;
  border: none;
  border-radius: 5px;
  background-color: #ff4343;
  color: white;
  margin-top: 15px;
}
